{
  "nick": "congresseditors",
  "consumer_key": "",
  "consumer_secret": "",
  "access_token": "",
  "access_token_secret": "",
  "congress": "https://en.wikipedia.org/wiki/List_of_bills_in_the_113th_United_States_Congress",
  "refresh": 3600
}
